@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>*@

<div id="cover">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="title display-3 text-center" style="font-weight:100;">dev<strong style="font-weight:600;">Crunch</strong>.io</h1>
            <p class="lead string-1 text-center" style="color:midnightblue">Changing the way the rest of the world looks at code. Join the revolution today by implimenting our lightweight SDK in your products.</p>

        </div>
    </div>
</div>

<div class="content">
    <h1>welcome.</h1>
    <p>
        In this ever competitive world, you should always look for improvement in your area of expertise. Taking up a professional course is important to improve your performance in a given career. In order to acquire more advanced and better skills, many people today go for these professional courses. It further gives you confidence along with basic information. Professional courses offer a large array of benefits, that is why it is highly recommended to enroll in such courses.
    </p>
    <ul>
        <li>
            1. Keeps you in form
            <p>
                When you take up a professional course, you are exposed to not only the new and fresh ideas but it also keeps you updated with everything that is going in your area of interest. You are constantly faced with challenges running in the market such that solutions for the same can be generated. It helps in keeping you in form through constant learning.
            </p>
        </li>
        <li>
            2. Sets you apart from others
            <p>
                In today’s competitive market, employers look for people who have a distinct quality to offer to their business. You get to inculcate new things and advanced concepts that give you the ability to face the challenges with a more tactical approach. You get to take more creative and innovative perspective toward solutions that will set you apart from others.
            </p>
        </li>
        <li>
            3. Ability to contribute more
            <p>
                As you inculcate knowledge through constant learning, you have much more to contribute to your organisation than your counterparts who haven’t been a part of this professional development. Moreover, you are exposed to new ideas, perception and knowledge that gives you a competitive edge over others.
            </p>
        </li>
    </ul>
</div>