@{
    ViewData["Title"] = "Register";
}


@model CoursesProject.Models.AccountViewModels.RegisterViewModel
<h1>Register</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Register" method="post">

            @* To Handle All errors *@
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserPassword"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmUserPassword"></label>
                <input asp-for="ConfirmUserPassword" class="form-control" />
                <span asp-validation-for="ConfirmUserPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Gender"></label>
                @Html.DropDownList("Gender", Html.GetEnumSelectList<CoursesProject.Data.appUserGender>(), "--- Select Gender ---", new { @class = "form-control" })
            </div>

            <input type="submit" name="name" value="Register" class="btn btn-secondary" />
        </form>
    </div>
</div>
