@using Microsoft.AspNetCore.Identity;
@inject SignInManager<CoursesProject.Data.AppUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoursesProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mr-5" asp-area="" asp-controller="Home" asp-action="Index">

                <img height="125" width="125" class="btn-llr" src="~/Images/logo.png" alt="Logo" />
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a style="font-size: 27px" class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 27px" class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 27px" class="nav-link text-dark" asp-area="" asp-controller="Trainers" asp-action="Index">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 27px" class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                    </li>
                </ul>


            </div>
            <div class="mr-5 nav-item dropdown dropdown-menu-left">
                @if (!_signInManager.IsSignedIn(User))
                {
                    <a style="font-size: 25px" class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login & Register
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="font-size: 20px" class="dropdown-item" asp-controller="Account" asp-action="Login">
                            <img height="20" width="20" src="~/Images/sign-in.png" alt="Alternate Text" />
                            &nbsp; Login

                        </a>
                        <a style="font-size: 20px" class="dropdown-item" asp-controller="Account" asp-action="Register">
                            <img height="20" width="20" src="~/Images/note.png" alt="Alternate Text" />
                            &nbsp; Register
                            
                        </a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>*@
                    </div>

                }
                else
                {
                    <a style="font-size: 25px" class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @User.Identity.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="font-size: 20px" class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">
                            <img height="20" width="20" src="~/Images/reset-password.png" alt="Alternate Text" />
                            Change PW
                        </a>
                        <a style="font-size: 20px" class="dropdown-item" href="#">
                            @*Logout*@
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button style="font-size: 18px; color:black" type="submit" class="btn btn-link">
                                    <img height="20" width="20" src="~/Images/logout.png" alt="Alternate Text" />
                                    Logout
                                </button>
                            </form>
                        </a>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="dropdown-divider"></div>
                            <a style="font-size: 20px" class="dropdown-item" asp-controller="Account" asp-action="ListRoles">ListRoles</a>

                        }
                    </div>

                }
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CoursesProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
